.App {
  text-align: center;
}

.images {
  background-image: url("https://covid19.go.id/storage/app/media/indonesia-map-new.jpg");
  background-size: cover;
}

strong {
  font-family: "Ubuntu", sans-serif;
}

.bg-cream {
  background-color: #fad8ca;
}
.bg-brown {
  background-color: #ea6852;
}
.logo {
  width: 30%;
}

.scroll {
  overflow-y: scroll;
  height: 600px;
}

.bg-grey {
  background-color: #f2f3f9;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: 6.5vw;
  }

  h2 {
    font-size: 6.5vw;
  }

  .size {
    font-size: 3.5vw;
  }
  .sizing-card {
    width: 15rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 3.5vw;
  }
  .size {
    font-size: 2.6vw;
  }

  .sizing-card {
    width: 45vw;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3vw;
  }

  h2 {
    font-size: 2.5vw;
  }
  .size {
    font-size: 1.7vw;
  }
  .sizing-card {
    width: 15rem;
  }
}
