.App {
  text-align: center;
}

.images {
  background-image: url("https://covid19.go.id/storage/app/media/indonesia-map-new.jpg");
  background-size: cover;
}

strong {
  font-family: "Ubuntu", sans-serif;
}

.bg-cream {
  background-color: #fad8ca;
}
.bg-brown {
  background-color: #ea6852;
}
.logo {
  width: 30%;
}

.scroll {
  overflow-y: scroll;
  height: 600px;
}

.bg-grey {
  background-color: #f2f3f9;
}
